.header_wrapper{
    height: 12vh;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: white;

   
}
.header_container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
    align-items: center;
}

.left_menu ul{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.left_menu ul li a:hover{
    color: var(--primary-color);
}
.header_logo{

    padding-bottom: 10px;
}
.left_menu ul button{
  border: none;
  background-color:var(--button-color);
  padding: 7px 20px;
  border-radius: 10px;
  color: white;  
  cursor: pointer;
  opacity: 0.7;
  
}
.logout{
    background-color: var(--button-color);
}
.left_menu ul button:hover{
    opacity: 1;
}