.question_wrapper{
    background-color: white;
    padding: 20px;
}
.question_container{
    width: 80%;
    margin: 0 auto;
}
 .step_headline{
    text-transform:capitalize;
  
}
.headline_border{
    border-bottom: 2px solid var(--primary-color);
    width: 400px;
    margin-bottom: 20px;
    animation: animate 2s infinite;
    margin-left: 10px;

}
@keyframes animate{
    from{
        width: 100px;
    }
    to{
        width:00px;
    }
}
.stpess ul li {
    list-style-type:   square;
    margin-bottom: 5px;
   
    
     
}
.stpess ul li::marker {
  color:var(--primary-color)
}
.question_form{
    margin-top: 50px;
}
.question_form input{
    margin-bottom: 10px;
    margin-top: 30px;
    box-shadow: 0px 0px 7px rgba(0,0,0,.6);
}
.question_form textarea{
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.6);
}
.question_form button{
      border: none;
  background-color: var(--button-color);
  padding: 7px 20px;

  color: white;
  cursor: pointer;
  opacity: 0.7;
  margin-top: 20px;
}


@media (max-width: 768px){
    @keyframes animate{
    from{
        width: 100px;
    }
    to{
        width:290px;
    }
}
.headline_border{
  
    margin-left: 0px;

}
}


