
.home_conatiner {
  width: 80%;
  margin: 40px auto;
  padding-bottom: 200px;
}

.home_conatiner .addquestions_btn {
  display: flex;
  justify-content: space-between;
}
.addquestions_btn button {
  border: none;
  background-color: var(--button-color);
  padding: 7px 20px;

  color: white;
  cursor: pointer;
  opacity: 0.7;
  margin-bottom: 40px;
}
.left_menu ul button:hover {
  opacity: 1;
}
.questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
 
  padding: 10px;
}
.questions:hover {
  background-color: #e2e8f0;
  cursor: pointer;
}
.arrow {
  transition: transform 0.3s ease; 
}

.questions:hover .arrow{
 transform: translateX(10px);
}
.questions .avater {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avater h1 {
  border-radius: 50%;
  border: 2px solid gray;
  color: black;
   width: 70px;
   height: 70px;

  text-align: center;
 transition: background-color 0.3s ease;
 
}
.questions:hover .avater h1{
 color: white;
 background-color: #1e293b
}
.arrow{
    font-weight: 900;
    cursor: pointer;
    font-size: 28px;
}




.search_input{
 
  border-bottom: 3px solid transparent; 
border: none;
  background: linear-gradient(to right, #FE8402 0%, #FE8402 100%);
  background-size: 0% 3px; 
  background-repeat: no-repeat;
  background-position: left bottom; 
  transition: background-size .5s ease-in; 
 
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}

.search_input:focus {
  background-size: 100% 3px; 
   box-shadow: none ;
}
