*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    /* list-style: none; */
    scroll-behavior: smooth;
}
a{
    color:white 
}
body{
    background: url('./assets/images/bg.svg');
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
   
   
}
:root{
    --primary-color:#FE8402;
    --button-color:#0000FF;
}